.artist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.artist-list h2 {
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.artist-card {
  width: 150px;
  flex-shrink: 0;
}
